name: Build

on:
  push:
    branches:
      - "*"
      - "!master"

jobs:
  build:
    name: Build All
    runs-on: ubuntu-latest
    steps:
      - name: Build KrapkaNet
        uses: artdolya/actions/dotnet@master
        with:
          work-dir: ./src/Net
          dotnet-version: 9.x
          run-tests: true
