name: Build

on:
  push:
    branches:
      - "*"
      - "!master"

jobs:
  build-dotnet:
    runs-on: ubuntu-latest
    steps:
      - name: Build .NET core projects
        uses: artdolya/actions/dotnet@master
        with:
          work-dir: ./src/Net
          dotnet-version: 8.x
