name: Bump version using SemVer

on:
  push:
    branches:
      - "master"

jobs:
  build-dotnet:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: artdolya/actions/dotnet/build@master
        with:
          work-dir: ./src/Net
          dotnet-version: 8.x

      - uses: artdolya/actions/bump@master
        with:
          checkout: false
