name: Bump version using SemVer

on:
  push:
    branches:
      - "master"

jobs:
  validate-build:
    name: Validate build
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Build KrapkaNet
        uses: artdolya/actions/dotnet@master
        with:
          work-dir: ./src/Net
          dotnet-version: 9.x

      - uses: artdolya/actions/bump@master
        with:
          checkout: false
