name: Release to Nuget
on:
  release:
    types: [published]

jobs:
  build-dotnet:
    runs-on: ubuntu-latest
    steps:
      - uses: artdolya/actions/dotnet@master
        with:
          work-dir: ./src/Net/Data/KrapkaNet.Data.Abstractions
          dotnet-version: 8.x
          run-tests: true
          publish-nuget: true
          nuget-api-key: ${{ secrets.NUGET_API_KEY }}
